@model IEnumerable<FuzzyIdentService.Models.Entities.UserFoneticUser>
<table class="table">
    <tr><td>Возможно вы имели в виду:</td></tr>

    @foreach (var item in Model)
    {
        <tr><td>@item.user.MiddleName</td></tr>
    }
</table>