@model Row<string>
<table class="table">
    <tr><td>Возможно вы имели в виду:</td></tr>

    @foreach (var item in Model.List)
    {
        <tr><td>@item</td></tr>
    }
</table>
<div>
    <ul class="pagination">
        @for (var i = 1; i <= Model.Total / 10; i++)
        {
            <li class="page-item @(i == Model.Count ? "active" : "")">
                <a asp-page="/pagination" asp-route-currentpage="@i" class="page-link">@i</a>
            </li>
        }
    </ul>
</div>