@model IEnumerable<FuzzyIdentService.Models.Entities.User>
@{ 
    ViewBag.Title = "Пользователи";
}



@*<table class="table">
    <tr><td>Имя</td></tr>
    <tr><td>Индекс</td></tr>
    @foreach (var item in Model)
    {
        <tr><td>@item.MiddleName</td></tr>
        <tr><td>@item.Index.</td></tr>
    }
</table>*@

<a asp-action="Find">Найти пользователя</a>
<table class="table table-striped">
    <thead>
    <tr>
        <th>
            Индекс
        </th>
        <th>
            Фамилия
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
</table>
<a asp-action="CreateUser">Добавить пользователя</a>