@model IEnumerable<FuzzyIdentService.Models.Entities.User>
@{ 
    ViewBag.Title = "Пользователи";
}

<a asp-action="Create">Найти пользователя</a>
<table class="table">
    <tr><td>Имя</td></tr>
    <tr><td>Индекс</td></tr>

    @foreach (var item in Model)
    {
        <tr><td>@item.FirstName</td></tr>
        <tr><td>@item.Index.</td></tr>
    }
</table>